{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../../static/styles/vacancies_style.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container_item">
            <div class="special">
                СПЕЦИАЛЬНОСТЬ
            </div>
            <div class="info">
                <span>Компания: компания</span>
                <span>Номер телефона: 8 999 999 99 99</span>
                <span>ЗП: договорная</span>
                <span>Дата добавления: 2020-07-07</span>
            </div>
        </div>
    </div>
{% endblock %}
