{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../../static/styles/vacancies_style.css">
{% endblock %}

{% block content %}
    <div class="container">
        {% for vacancy in vacancies %}
        <div class="container_item">
            <div class="special">
                {{ vacancy.Speciality.SpecialityName }}
            </div>
            <div class="info">
                <span>Компания: {{ vacancy.Company.CompanyName }}</span>
                <span>Номер телефона: {{ vacancy.Company.PhoneNumber }}</span>
                <span>ЗП: {{ vacancy.Salary }}</span>
                <span>Дата добавления: {{ vacancy.CreatedDate }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}