.container {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    font-size: 18px;
}

.container > img {
    margin-top: 63px;
    margin-bottom: 156px;
}

@media (max-width: 450px) {
    .container {
        width: 80%;
        font-size: 15px;
    }
    .container > img {
        width: 300px;
    }
}